<html>
<head>
  <title>TagView</title>
</head>
<body>
  <p>
    These are all of the <%= tag %> items.
    <hr> </hr>
    
    <% ideas.each do |idea| %>
      <%= idea.title %><br/>
    <% end %>
  </p>

</body>
</html>
